.primary {
  color: #c2c2c2
}

.secondary {
  color: #776885
}

.visitedLink {
  color: #be6e46
}

.unvisitedLink {
  color: #c3f73a
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: #0f0f0a;
  }
}
